.body{
    background-color: blue;
}   

.navbar-header{ 
    font-size: 30px;

}


input {
    display: block;
    width: 50vw;
    padding: 0 1.25rem;
}

input,
input::placeholder {
    font: 1.5rem/3 sans-serif;
}

#moviesContainer{
    font-size: 20px;
}

.movie-rec{
    font-size: 20px;
}

.lead {
    font-size: 20px;
}